<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Spring Authorization Server sample</title>
    <link href="/webjars/bootstrap/css/bootstrap.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <div class="row py-5">
        <div class="col-md-5">
            <h2>Device Activation</h2>
            <p>Enter the activation code to authorize the device.</p>
            <div class="mt-5">
                <form method="post" th:action="@{/oauth2/device_verification}">
                    <div class="mb-3">
                        <label class="form-label" for="user_code">Activation Code</label>
                        <input autofocus class="form-control" id="user_code" name="user_code" required type="text">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <img alt="Devices" class="img-responsive" src="/assets/img/devices.png" th:src="@{/assets/img/devices.png}">
        </div>
    </div>
</div>
</body>
</html>
